/*CSS desktop*/
@media screen and (min-width: 768px) {

    /*Général*/
    body {
        margin: 0;
        padding: 0;
        color: #000000;
        font-family: 'Schoolbell', cursive;
        font-size: 1.8vw;
    }

    h1, h2 {
        font-family: 'Schoolbell', cursive;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
    }

    h1 {
        text-align: center;
        margin: 5% auto;
    }

    h2 {
        font-size: 1.3em;
    }

    a {
        text-decoration: none;
        color: black;
    }

    header, main, footer {
        width: auto;
    }

    section, footer {
        margin-top: 0%;
        padding: 0% 7% 0% 7%;
    }

    #Arguments, #Carte, #Formulaire {
        margin: 5% auto;
    }

    hr {
        display: none;
    }

    /*Header*/
    header {
        background-color: #ffffff;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0% 2%;
        text-transform: uppercase;

    }

        header img {
            order: 1;
            width: 8%;
            height: auto;
        }

        header nav {
            order: 2;
            flex: 1;
            font-size: 1.1em;
        }

            header nav input {
                display: none;
            }

            header nav ul {
                display: flex;
            }

                header nav ul li {
                    width: 20%;
                    text-align: center;
                }

        header .inscription_button {
            order: 3;
            border: 2px solid black;
            border-radius: 20px;
            font-family: 'Schoolbell', cursive;
            text-transform: uppercase;
            font-size: 1.1em;
            width: 15%;
            margin-left: 2%;
            text-align: center;
            background-color: #ededed;
            padding: 0.5% 0%;
        }
         header .inscription_button:hover{
            background-color: #d2d9dd;
         }


    /*Main*/
    #Presentation {
        background-image: url("../Images/lemontree.jpg");
        background-size: cover;
        height: auto;
        padding: 4%;
    }

        #Presentation .container {
            position: relative;
            background-color: rgba(223, 184, 16, 0.81);
            padding: 1% 7% 4% 7%;
            margin: auto;
            top: 20%;
            height: auto;
            width: auto;
            text-align: center;
        }

    #Arguments article {
        display: flex;
        flex-direction: row;
        margin: 2% 0%;
        background-color: #ecf1f2;
    }

    #Arguments article:nth-child(3) img{
        order: 2;
    }

        #Arguments article .text {
            align-self: center;
            padding: 2%;
            text-align: justify;
            flex: 1;
        }

        #Arguments article img {
            width: 100%;
            flex: 1;
        }


    #Carte iframe {
        width: 100%;
        min-height: 600px;
    }

    #Formulaire form {
        background-color: #ecf1f2;
        padding: 0% 3%;
        width: 80%;
        margin: auto;
        font-size: 1em;
        border-radius: 8px;
        border: 2px solid #c7cdcf;
    }

        #Formulaire form #newsletter, #confidentialite {
            margin: 3% auto;
        }

        #Formulaire form input, #Formulaire form select {
            font-family: 'Schoolbell', cursive;
            background-color: #e0e6e7;
            margin: 2% auto;
            border: 1px solid black;
            padding: 2% 0% 2% 1%;
            font-size: 1em;
            box-sizing: border-box;
            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            border: none;
            border-radius: 4px;
        }

            #Formulaire form input:hover, #Formulaire form select:hover {
                background: #d2d9dd;
            }

        #Formulaire form #nom, #prenom {
            width: 49%;
        }

        #Formulaire form #mail, #tel, #ville {
            width: 99%
        }

        #Formulaire form #button {
            cursor: pointer;
            display: block;
            margin: 4% auto;
            text-align: center;
            border: 1px solid rgba(223, 184, 16, 0.89);
            border-width: 1px 1px 3px;
            width: 40%;
            background-color: rgba(251, 204, 4, 1);
            text-transform: uppercase;
        }

            #Formulaire form #button:hover {
                background: rgba(231, 190, 16, 1);
            }


    /*Footer*/
    footer {
        color: #838383;
        text-align: center;
        font-size: 0.8em;
        background-image: url(../Images/background.jpg);
        background-size: contain;
        padding-bottom: 7%;
    }

        footer #Réseau {
            text-align: center;
            padding-top: 2%;
        }

            footer #Réseau a {
                display: inline-block;
                color: black;
                width: 40px;
                height: 40px;
                margin-bottom: 2%;
                /* border-radius: 50%;
   	            border: 2px solid transparent;
   	            transition: all .3s;*/
            }

                footer #Réseau a img {
                    width: 100%;
                }

                footer #Réseau a:nth-child(2), #Réseau a:nth-child(3) {
                    margin-left: 30px;
                }

                footer #Réseau a:hover, #Réseau a:focus {
                    /* border: 2px solid #504f4f; */
                    opacity: 0.5;
                }

        footer p + a + a {
            padding-left: 4%;
        }

        footer a:hover {
            text-decoration: underline;
        }
}
