/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS mobile*/
@media screen and (min-width: 0px) and (max-width: 768px) {

   /* ------------- Général ------------- */

   body {
      margin: 0;
      padding: 0;
      color: #000000;
      font-family: 'Schoolbell', cursive,'Open Sans', sans-serif;
      font-size: 2.5vw;
   }

   h1, h2 {
     font-family: 'Schoolbell', cursive;
     font-size: 1.5em;
     text-transform: uppercase;
     font-weight: bold;
   }

   h1 {
     text-align: center;
     margin: 5% auto;
   }

   h2 {
     font-size: 1.3em;
   }

   a {
     text-decoration: none;
     color: black;
   }

   header, main, footer {
     width: auto;
   }

   section, footer {
     margin-top: 0%;
     padding: 0% 7% 0% 7%;
   }

   #Arguments, #Carte, #Formulaire {
     margin: 5% auto;
   }

   hr {
     display: none;
   }

   /* ------------- Header ------------- */

   header {
     background-color: #ffffff;
     height: auto;
   }

   header img {
      display: block;
      margin: auto;
      padding-bottom: 1%;
      width: 15%;
      height: auto;
      margin-top: -13%;
   }

   header .inscription_button {
      text-align: center;
      display: block;
      border: black solid 2px;
      border-radius: 20px;
      font-size: 1em;
      font-family: 'Schoolbell', cursive;
      text-transform: uppercase;
      width: 20%;
      padding: 1% 0% 1% 0%;
      background-color: #ededed;
      float: right;
      margin-top: -11%;
      margin-right: 3.5%;
   }

   header .inscription_button:hover {
      background-color: #d2d9dd;
   }

   /* ------------- Menu Burger ------------- */

   #menuBurger {
      text-transform: uppercase;
      display: block;
      position: relative;
      height: auto;
      width: auto;
      padding-top: 6%;
      padding-left: 5%;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

   #menuBurger a {
      transition: color 0.3s ease; /*animation transition slide*/
   }

   /*Apparence des noms du menu quand on les survolent*/
   #menuBurger a:hover {
      color: #e7be10;
   }

   #menuBurger input {
      display: block;
      width: 7%;
      height: 60px;
      position: absolute;
      top: 0%;
      left: 0%;
      right: 0%;
      bottom: 0%;
      margin-left: 4.5%;
      margin-top: 3%;
      cursor: pointer;
      opacity: 0; /* cache la checkbox */
      z-index: 2; /* au dessus du menu hamburger */
      -webkit-touch-callout: none;
   }

   /*Apparence de l'icone menu hamburger (trois étages)*/
   #menuBurger span {
      display: block;
      position: relative;
      width: 8%;
      height: 3px;
      margin-bottom: 2%;
      background: #232323;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px; /*origine de la transition*/
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
   }

   #menuBurger span:first-child {
      transform-origin: 0% 0%;
   }

   #menuBurger span:nth-last-child(2) {
      transform-origin: 0% 100%;
   }

   /*Transforme deux étages du burger en croix*/
   #menuBurger input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #000000;
   }

   /*Cache la 2ème tranche du burger*/
   #menuBurger input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
   }

   /*Une des tranches doit faire un rotation dans l'autre sens*/
   #menuBurger input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
   }

   /*Position en haut à gauche de l'écran*/
   #menu {
      position: absolute;
      top: 0%;
      left: 0%;
      right: 0%;
      bottom: 0%;
      width: 35%;
      height: 430%;
      margin: 0% 0% 0% -5%;
      padding: 15% 5% 0% 10%;
      background: #ededed;
      box-shadow: 0px 0px 2px 2px #d2d9dd;
      font-size: 1em;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }

   #menu li {
      margin-top: 10px;
      margin-left: 5%;
      padding: 6% 0% 4% 0%;
      border-bottom: 0.1px black solid;
   }

   /*Menu glisse depuis la gauche*/
   #menuBurger input:checked ~ ul {
      transform: none;
   }

   /* ----- Présentation ----- */
   #Presentation {
      background-image: url("../Images/lemontree.jpg");
      background-size: cover;
      height: auto;
      padding: 4%;
   }

   #Presentation .container {
      position: relative;
      background-color: rgba(223, 184, 16, 0.81);
      padding: 1% 7% 4% 7%;
      margin: auto;
      top: 20%;
      height: auto;
      width: auto;
      text-align: center;
   }

   /* ----- Arguments ----- */
   #Arguments article{
      background-color: #ededed;
      margin: 2% 0%;
   }

   #Arguments #article1 {
      display: flex;
   }

   #Arguments article:nth-child(3) img {
      order: 2;
   }

   #Arguments article .text {
      align-self: center;
      padding: 2%;
      text-align: justify;
      flex: 1;
   }

   #Arguments article img {
      width: 100%;
      flex: 1;
   }

   /*Bouton voir plus voir mois*/
   .bouton {
      cursor: pointer;
      display: block;
      margin: auto;
      padding: 1%;
      width: 20%;
      text-align: center;
      font-size: 1em;
      font-family: 'Schoolbell', cursive;
      background-color: #ededed;
      border: 1px solid #d2d9dd;
      border-radius: 10%;
      text-transform: uppercase;
   }

   .bouton:hover {
      background-color: #d2d9dd;
   }

   .trigger {
      display: none; /*checkbox invisible*/
   }

   #Arguments #article2, #Arguments #article3 {
      transition: .25s ease;
      display: none;
   }

   .trigger:checked ~ #Arguments #article2 {
      display: flex;
   }

   .trigger:checked ~ #Arguments #article3 {
      display: flex;
   }

   .trigger ~ .bouton:before {
      content: 'Voir plus';
   }

   .trigger:checked ~ .bouton:before {
      content: 'Voir moins';
   }

   /* ----- Carte ----- */
   #Carte iframe {
      width: 100%;
   }

    /* ----- Formulaire ----- */

   #Formulaire form {
      background-color: #ecf1f2;
      padding: 3%;
      margin: auto;
      font-size: 1em;
      border-radius: 8px;
      border: 2px solid #ededed ;
   }

   #Formulaire form #newsletter, #confidentialite {
      margin: 3% auto;
   }

   #Formulaire input, #Formulaire select {
      font-family: 'Schoolbell', cursive;
      background-color: #e0e6e7;
      margin: 2% auto;
      border: 1px solid black;
      padding: 2% 0% 2% 1%;
      font-size: 1em;
      border: none;
      border-radius: 4px;
   }

   #Formulaire input:hover, #Formulaire select:hover {
      background: #d2d9dd;
   }

   #mail, #nom {
      width: 98%;
   }

   #tel{
      width: 50%;
   }

   #ville, #prenom {
      width: 70%;
   }

    #Formulaire #button {
      cursor: pointer;
      display: block;
      margin: 3% auto;
      text-align: center;
      border: 1px solid #dfb810;
      border-width: 1px 1px 3px;
      width: 40%;
      text-transform: uppercase;
      background-color: #fbcc04;
   }

   #Formulaire #button:hover {
      background: #e7be10;
   }

   /* ------------- Footer ------------- */
   footer {
      text-align: center;
      font-size: 0.8em;
      background-image: url(../Images/background.jpg);
      background-size: contain;
      padding-bottom: 7%;
   }

   footer #Réseau {
      text-align: center;
      padding-top: 2%;
   }

   footer #Réseau a {
      display: inline-block;
      color: black;
      width: 40px;
      height: 40px;
   }

   footer #Réseau a img {
      width: 70%;
   }

   footer #Réseau a:nth-child(2), #Réseau a:nth-child(3) {
      margin-left: 30px;
   }

   footer #Réseau a:hover, #Réseau a:focus {
      opacity: 0.5;
   }

   footer p + a + a {
      padding-left: 4%;
   }

   footer a:hover {
      text-decoration: underline;
   }
}


/*--------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width: 768px) {

   /*Général*/
   body {
      margin: 0;
      padding: 0;
      color: #000000;
      font-family: 'Schoolbell', cursive;
      font-size: 1.5vw;
   }

   h1, h2 {
      font-family: 'Schoolbell', cursive;
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: bold;
   }

   h1 {
      text-align: center;
      margin: 5% auto;
   }

   h2 {
      font-size: 1.3em;
   }

   a {
      text-decoration: none;
      color: black;
   }

   header, main, footer {
      width: auto;
   }

   section, footer {
      margin-top: 0%;
      padding: 0% 7% 0% 7%;
   }

   #Arguments, #Carte, #Formulaire {
      margin: 5% auto;
   }

   hr {
      display: none;
   }

   /*Header*/
   header {
      background-color: #ffffff;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0% 2%;
      text-transform: uppercase;
   }

   header img {
      order: 1;
      width: 8%;
      height: auto;
   }

   header nav {
      order: 2;
      flex: 1;
      font-size: 1.1em;
   }

   header nav input {
      display: none;
   }

   header nav ul {
      display: flex;
   }

   header nav ul li {
      width: 20%;
      text-align: center;
   }

   header .inscription_button {
      text-align: center;
      order: 3;
      border: 2px solid black;
      border-radius: 20px;
      font-family: 'Schoolbell', cursive;
      text-transform: uppercase;
      font-size: 1.1em;
      width: 15%;
      margin-left: 2%;
      padding: 0.5% 0%;
      background-color: #ededed;
   }

   header .inscription_button:hover {
      background-color: #d2d9dd;
   }

   /*Main*/
   #Presentation {
      background-image: url("../Images/lemontree.jpg");
      background-size: cover;
      height: auto;
      padding: 4%;
      background-color: #ededed;
   }

   #Presentation .container {
      position: relative;
      background-color: rgba(223, 184, 16, 0.81);
      padding: 1% 7% 4% 7%;
      margin: auto;
      top: 20%;
      height: auto;
      width: auto;
      text-align: justify;
   }

   #Presentation .container a {
      font-weight: bold;
      text-decoration: underline;
   }

   #Arguments article {
      display: flex;
      flex-direction: row;
      margin: 2% 0%;
      background-color: #ededed;
   }

   #Arguments article:nth-child(3) img {
      order: 2;
   }

   #Arguments article .text {
      align-self: center;
      padding: 2%;
      text-align: justify;
      flex: 1;
   }

   #Arguments article img {
      width: 100%;
      flex: 1;
   }

   #Arguments button {
     display: none;
   }

   #Carte iframe {
      width: 100%;
   }

   #Formulaire form {
      background-color: #ecf1f2;
      padding: 0% 3%;
      width: 65%;
      margin: auto;
      font-size: 1em;
      border-radius: 8px;
      border: 2px solid #ededed;
   }

   #Formulaire form #newsletter, #confidentialite {
      margin: 3% auto;
   }

   #Formulaire form input, #Formulaire form select {
      font-family: 'Schoolbell', cursive;
      background-color: #e0e6e7;
      margin: 2% auto;
      border: 1px solid black;
      padding: 1% 0% 1% 1%;
      font-size: 1em;
      box-sizing: border-box;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      border: none;
      border-radius: 4px;
   }

   #Formulaire form input:hover, #Formulaire form select:hover {
      background: #d2d9dd;
   }

   #Formulaire form #nom, #prenom {
      width: 49%;
   }

   #Formulaire form #mail, #tel, #ville {
      width: 99%
   }

   #Formulaire form #button {
      cursor: pointer;
      display: block;
      margin: 4% auto;
      text-align: center;
      border: 1px solid #dfb810;
      border-width: 1px 1px 3px;
      width: 40%;
      background-color: #fbcc04;
      text-transform: uppercase;
   }

   #Formulaire form #button:hover {
      background: #e7be10;
   }


   /*Footer*/
   footer {
      color: #838383;
      text-align: center;
      font-size: 0.8em;
      background-image: url(../Images/background.jpg);
      background-size: contain;
      padding-bottom: 7%;
   }

   footer #Réseau {
      text-align: center;
      padding-top: 2%;
   }

   footer #Réseau a {
      display: inline-block;
      color: black;
      width: 40px;
      height: 40px;
      margin-bottom: 2%;
   }

   footer #Réseau a img {
      width: 100%;
   }

   footer #Réseau a:nth-child(2), #Réseau a:nth-child(3) {
      margin-left: 30px;
   }

   footer #Réseau a:hover, #Réseau a:focus {
      opacity: 0.5;
   }

   footer p + a + a {
      padding-left: 4%;
   }

   footer a:hover {
      text-decoration: underline;
   }
}
